.Heading1 {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 34px;
}

.Heading2{
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 24px;
}

.Heading3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.Headline {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.Body {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.Body-600 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.Caption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}